<h2>student Summery</h2>
<form class="form" [formGroup]="search" (ngSubmit)="SearchStudent()">
    <mat-form-field class="full-width">
        <mat-label>Search student</mat-label>
        <span matPrefix> </span>

        <input type="tel" matInput placeholder="Search" name="search" formControlName="searchkey">

        <button matSuffix mat-button><mat-icon>search</mat-icon></button>

    </mat-form-field>
</form>
<div class="mat-elevation-z8">
    <div>
        <a mat-raised-button color="primary" (click)="openPopup('')" style="margin: 2%;">Add Student</a>
    </div>
    <mat-table #table [dataSource]="finaldata" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
            <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
            <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>
        <ng-container matColumnDef="ContactNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
            <td mat-cell *matCellDef="let element">{{element.contactNo | slice:0:3}}-{{element.contactNo | slice:3:10}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="Ssn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ssn</th>
            <td mat-cell *matCellDef="let element">{{element.ssn}}</td>
        </ng-container>
        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell *matCellDef="let element">{{element.street}}, {{element.city}}</td>
        </ng-container>
        <ng-container matColumnDef="Image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
            <td mat-cell *matCellDef="let element"><img [src]="element.imageUrl" height="70"></td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <a mat-raised-button (click)="EditStudent(element.studentId)" color="primary"
                        style="margin: 10px;">Edit</a>
                    <a mat-raised-button (click)="RemoveStudent(element.studentId)" color="accent">Delete</a>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons aria-label="page size"></mat-paginator>
</div>